<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>ini daftar makanan</title>
    <style>
        table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 8px solid #2181d0;
  text-align: left;
  padding: 12px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
    
</head> 
<body>
    <div>
        <h1> ini list makanan </h1>
        <form action="" method="post">
            <label for="">nama</label>
            <input name="nama" type="text" required>
            <label for="">detail</label>
            <input name="detail" type="text" required>
            <label for="">recommended</label>
            <input name="pelanggan" type="text" required>
            <button type="submit">kirim</button>

<style>
    table, th, td {
        border:6px solid green;
    }
</style>

        </form>
        
        <hr>
        <h1>ini daftar makanan anggi</h1>
        <br>
        <table>
            <table style="width:600px">

            <tr>
                <th>id</th>
                <th>nama</th>
                <th>pesanan</th>
                <th>jumlah</th>
                <th>diskon</th>
            </tr>
            {% for d in context %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{d[1]}}</td>
                <td>
                    <a href="/detail/{{d[0]}}">
                        <button class="btn btn-info">detail</button>
                    </a>
                    <a href="/update/{{d[0]}}">
                        <button class="btn btn-warning">update</button>
                    </a>
                    <a href="/delete/{{d[0]}}">
                        <button class="btn btn-danger">delete</button>
                    </a> 
                </td>
            </tr>
            {% endfor %}
        </table>
            
    
    </div>
 </body>
</html>