<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>data keluarga</title>
</head>
<body>
    <a href="/">home</a>
    </h2>
    <hl>detail</hl>
    <span>nama : {{context[1]}}</span>
    <br>
    <span>umur: {{context[2]}}</span>
    <br>
    <span>nomor: {{context[3]}}</span>
    <br>
    <span>tanggal lahir: {{context[4]}}
    <br>
    </span>
</body>
</html>